.chrome-extension-ingredients-custom-box.info {
  text-align: center;
  color: #f00066;
  margin-bottom: 10px;
}

.chrome-extension-ingredients-custom-class.alert {
  border: 1px solid #f00066;
}

.chrome-extension-ingredients-custom-box.ingredient {
  color: #f00066;
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 10px;
}

.flexch-dish__meals__meal {
  position: relative;
  padding: 8px 5px !important;
}

#choose-dishes-dialog .chrome-extension-ingredients-custom-box.ingredient {
  top: unset;
  bottom: 5px;
}